
.search {
    margin-top: 2rem;
    background-color: #EBEEF0;
    display: flex;
    border-radius: 25rem;
    padding: 0.60rem 1rem 0.60rem 0rem;
    align-items: center;
    justify-content: left;
    width: 15rem;
}

.noticiasSearch {
    display: flex;
    padding: 0  0.60rem 1rem;
}

h2 {
    padding: 1rem;
}

.containerSearch {
    margin-top: 1.5rem;
    background-color: #EBEEF0;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: #5b70830c;
}