.container {
    display: flex;
    margin: 1rem 3rem;
}

img {
    margin: 0 1rem;
}

.home {
    display: flex;
    padding: 0.5rem 0;
}

.home:hover {
    color: #1087d1;
    transition: 0.4s;
}

.explorer {
    display: flex;
    padding: 0.5rem 0;
}

.explorer:hover {
    color: #1087d1;
    transition: 0.4s;
}

.notifications {
    display: flex;
    padding: 0.5rem 0;
}

.notifications:hover {
    color: #1087d1;
    transition: 0.4s;
}

.messages {
    display: flex;
    padding: 0.5rem 0;
}

.messages:hover {
    color: #1087d1;
    transition: 0.4s;
}

.bookmarks {
    display: flex;
    padding: 0.5rem 0;
}

.bookmarks:hover {
    color: #1087d1;
    transition: 0.4s;
}

.lists {
    display: flex;
    padding: 0.5rem 0;
}

.lists:hover {
    color: #1087d1;
    transition: 0.4s;
}

.profile {
    display: flex;
    padding: 0.5rem 0;
}

.profile:hover {
    color: #1087d1;
    transition: 0.4s;
}

.more {
    display: flex;
    padding: 0.5rem 0;
}

.more:hover {
    color: #1087d1;
    transition: 0.4s;
}

.buttonTweet {
    margin: 0.1rem;
    margin-top: 1rem;
    border-style: none;
    background-color: #1DA1F2;
    color: var(--white);
    border-radius: 2rem;
    padding: 1rem 4rem;
    cursor: pointer;
}

.buttonTweet:hover {
    transition: 0.2s;
    background-color: #1087d1;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover { 
    color: #1087d1;
    transition: 0.4s;
}