.container {
    display: flex;
    margin: 1rem 3rem;
}

img {
    margin: 0 1rem;
}

.home {
    display: flex;
    padding: 1rem 0;
}

.explorer {
    display: flex;
    padding: 1rem 0;
}

.notifications {
    display: flex;
    padding: 1rem 0;
}

.messages {
    display: flex;
    padding: 1rem 0;
}

.bookmarks {
    display: flex;
    padding: 1rem 0;
}

.lists {
    display: flex;
    padding: 1rem 0;
}

.profile {
    display: flex;
    padding: 1rem 0;
}

.more {
    display: flex;
    padding: 1rem 0;
}

.buttonTweet {
    margin: 0.1rem;
    margin-top: 1rem;
    border-style: none;
    background-color: #1DA1F2;
    color: var(--white);
    border-radius: 2rem;
    padding: 1rem 4rem;
    cursor: pointer;
}

.buttonTweet:hover {
    transition: 0.2s;
    background-color: #1087d1;
    cursor: pointer;
}