.containerOverflow{
    height: 1026px;
    overflow: auto;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}
::-webkit-scrollbar {
    width: 6px;
    background: #FFF;
}
::-webkit-scrollbar-thumb {
    background: #FFF;
}

.opcoesPublicar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 37.375rem;
}
.containerPostIndividual {
    background-color: var(--white);
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.buttonTweetHome {
        border-style: none;
        background-color: #1DA1F2;
        color: var(--white);
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
}

.buttonTweetHome:hover {
    transition: 0.2s;
    background-color: #1087d1;
    cursor: pointer;
}

.hDois {
    margin: 1rem;
}

.show {
    margin-left: 1rem;
}

.profile {
    display: flex;
    align-items: flex-start;
}

.profile img {
    overflow: hidden;
    object-fit: cover;
}

.darkThemeDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 37.375rem;
}



textarea {
    border-style: none;
    resize: none;
    width: 31.375rem;
    height: 4.375rem;
}

textarea::hover {
    border-style: none;
    resize: none;
}

textarea::focus {
    border-style: none;
    resize: none;
}

.imgPost {
    max-width: 31rem;
    max-height: 15rem;
    object-fit: cover;
}

.ProfileCircular {
    border-radius: 20rem;
    overflow: hidden;
    object-fit: cover;
}

.containerPerfilIndividual {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.textProfilePost {
    text-decoration: none;
    text-transform: none;
    margin: 0 0.50rem 0 0;
}

.textoAhobaProfile {
    margin: 0.1rem 0.50rem 0 0;
}

time {
    margin: 0.1rem 0.50rem 0 0;
}

.textoPublicado {
    margin: 0.80rem 1rem;
    max-width: 31rem;
}